body {
    overflow: hidden;
    margin: unset;
    padding: unset;
    background-color: #cccccc;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin-left: 15px;
}

canvas {
    position: absolute;
    left: 100px;
    top: 100px;
}