body {
    overflow: hidden;
    margin: unset;
    padding: unset;
    background-color: #cccccc;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin-left: 15px;
}

canvas {
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: x-large;
}

#divUPoints {
    position: absolute;
    left: 1050px;
    top: 80px;
}
#divEPoints {
    position: absolute;
    left: 1050px;
    top: 370px;
}